// Common Properties every section

*{
    margin: 0px;
    padding: 0px;
    letter-spacing: 0px;
}

// a tag 
a{
    text-decoration: none;
}
//li tag
li{
    list-style: none;
}
// every button
button{
    outline: none;
}