@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200;300;400;500;600;700&display=swap");
.text-small-size {
  font: normal 400 0.75rem/1.31rem  'Be Vietnam Pro', sans-serif;
}

.text-medium-size {
  font: normal 500 0.875rem/1.5rem  'Be Vietnam Pro', sans-serif;
}

.text-biger-size {
  font: normal 600  1rem/2rem 'Be Vietnam Pro', sans-serif;
}

.price-size {
  font: normal 600 0.812rem/1.5rem  'Be Vietnam Pro', sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Be Vietnam Pro' ,sans-serif;
  background-color: #f8f8f8;
}

* {
  margin: 0px;
  padding: 0px;
  letter-spacing: 0px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  outline: none;
}

#header {
  padding-top: 1.8rem;
}

#header .header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#header .header-content .header-logo h3 {
  font: normal 700 1.5rem/ 0.8rem 'Be Vietnam Pro', sans-serif;
}

#header .header-content .header-logo h3 span {
  color: #da0909;
}

#header .header-content .header-logo p {
  font: normal 600 0.8rem/ 1.3rem 'Be Vietnam Pro', sans-serif;
  color: #465e6a;
}

#header .header-content .header-basket {
  background-color: transparent;
  border-color: transparent;
}

#header .header-content .header-basket span {
  font-size: 14px;
  margin-right: 10px;
}

#header .header-content .header-basket img {
  -o-object-fit: cover;
     object-fit: cover;
}

#header .header-content .header-basket a {
  color: #000000;
  font-size: 10px;
}

#menu-navigetion {
  margin-top: 2rem;
}

#menu-navigetion .menu-navigetion-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#menu-navigetion .menu-navigetion-list li {
  margin-right: 2.5rem;
}

#menu-navigetion .menu-navigetion-list li a {
  color: #465e6a;
  font: normal 700 0.8rem/1rem 'Be Vietnam Pro', sans-serif;
}

#menu-navigetion .menu-navigetion-list li a:focus {
  color: #000000;
}

#product-cards {
  padding-top: 3.5rem;
}

#product-cards .product-cards-all .product-card {
  overflow: hidden;
  height: 18rem;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 2px;
  margin-right: 0.5rem;
}

#product-cards .product-cards-all .product-card img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 12rem;
  padding: 1rem;
}

#product-cards .product-cards-all .product-card .product-card-footer {
  position: relative;
  top: 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#product-cards .product-cards-all .product-card .product-card-footer .product-card-footer-price {
  color: #da0909;
  font-weight: 600;
  margin: 1rem 0px;
}

#product-cards .product-cards-all .product-card .product-card-footer .product-card-footer-button {
  background-color: transparent;
  border: transparent;
  font-weight: 500;
}

#product-cards .product-cards-bottom {
  margin-top: 2rem;
}

#footer {
  margin-top: 5rem;
}

#footer .footer-guaranted {
  background-color: #f1f1f1;
  padding: 2rem 0px;
}

#footer .footer-guaranted .footer-guaranted-icon {
  -o-object-fit: contain;
     object-fit: contain;
  position: relative;
  top: 1rem;
  right: 1rem;
}

#footer .footer-guaranted .footer-guaranted-title {
  letter-spacing: 1px;
  line-height: 1rem;
  font-size: 14px;
  color: #000000;
}

#footer .footer-guaranted .footer-guaranted-content {
  font-size: 12px;
  letter-spacing: 1px;
  padding-top: 5px;
}

#footer .footer-bottom-about {
  margin: 2rem 0px;
}

#footer .footer-bottom-about .footer-bottom-desciption {
  font-size: 13px;
}

#footer .footer-bottom-about img {
  width: 11rem;
}
/*# sourceMappingURL=main.css.map */